* {
    box-sizing: border-box;
  }
  
  body {
    background: #D6D7DC;
    background-image: url("../images/bts.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1200px 800px;
    color: rgb(15, 31, 102);
  }
  
  header .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  section .start-msg {
    font-style: italic;
    font-size: 1.5em;
    color: brown;
  }
  
  section .game-data {
    font-size: 1.2em;
  }
  
  #question {
    font-size: 2.0em;
    color: rosybrown;
    letter-spacing: 0.1em;
  }
  
  #already-guessed{
    letter-spacing: 0.2em;
  }
  
  #hint {
    font-size: 1.2em;
  }